.hidden,
.user-contract.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    margin-top: 20px;
    padding: 0;
}

main {
    /* width: 1300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: yellow;
    width: 550px;
    min-height: 10px;
    margin-right: 20px;
    margin-bottom: 2px;
}

.info-firm {
    /* min-height: 530px; */
}
.green {
    color: #7DBD42;
}

.blue {
    color: #0B9BCE;
}

.red {
    color: #ED1C24;
}

/* section:nth-child(even) {
    margin-right: 20px;
} */

/* section:nth-child(odd) {
    clear: both;
} */

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.button-border {
/* display: flex;
justify-content: space-between; */
    border: 2px solid #E81E25;
    border-radius: 5px;

    width: 110px;
    height: 32px;

    margin-left: 5px;
    /* margin-right: 5px; */

    color:#E81E25;
}

.nav-user-button {
    text-decoration: underline;
    text-decoration-color: #939598;
}

h2 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    color: white;
    margin: 0;
    border-radius: 5px;
}

h2.info-user-title {
    background-color: #65AD45;
}

h2.info-firm-title {
    background-color: #0B9BCE;
}

h2.diagnostics-user-title {
    background-color: #939598;
}

h2.solutions-title {
    background-color: #009444;
}

.after-title,
.info-user-choose {
    margin: 0;
    border: 1px solid #939598;
    border-radius: 5px;
}

.after-title {
    background-color: #F1F2F2;
}

.info-user-notfound,
.info-firm-name {
    text-align: center;
    padding: 5px 0;
}

.info-user-choose {
    padding: 8px 0;
}

.info-user-search-div {
    /* Что-то */
}

.nav-user-div input {
    width: 52px;
    height: 12px;
}

.nav-user-div * {
    display: inline;
    text-align: center;
    /* padding: 5px 8px; */
    padding: 5px 10px;
}

.nav-user-div ul {
    padding: 0;
}

.nav-user-div>form,
.nav-user-div li {
    border-right: 1px solid #939598;
}

.nav-user-div>.phone {
    /* text-align: center; */
    display: inline-block;
    width: 155px;
    text-align: center;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    /* margin-left: auto; */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

li {
    list-style-type: none;
    /* Убираем маркеры */
    /* position: relative; */
    display: flex;
    justify-content: space-between;

}

li>p,
li>span {
    /* O_o */
    /* display: inline-block; */
    /* display: inherit; */

    /* position: relative; */
    /* Отображать как строчный элемент */
    margin: 0px;
    /* Отступ слева */
    /* padding: 105px; */
    /* border: 1px solid #000; Рамка вокруг текста */
    padding: 10px 0;
    /* Поля вокруг текста */
}

li>span:first-child {
    margin-right: 10px;
}

li>span:last-child {
    border: 1px green solid;
    width: 35px;
}

ul>li:nth-child(10)>span:first-child,
ul>li:nth-child(11)>span:first-child {
    margin-right: 3px;
    /* border: 1px solid black; */
}

li p:nth-of-type(1) {
    margin-right: auto;
}

li p:nth-of-type(2) {
    border: 1px solid red;
    flex: 0 0 10em;
    /* flex: 0 0 5em; */
}

li p:nth-of-type(3) {
    border: 1px solid #939598;
    flex: 0 0 2em;
}

/* .user-rate-cost,
.user-balance
{
margin-right: 9px;
} */
.span-speed {
    padding: 10px 86px 10px 0px;
}

li>p.user-rate-speed {
    max-width: 40px;
}

li>p.user-router-status {
    min-width: 69px;
    text-align: center;
}

li>p.user-devices-quantity,
li>p.user-CCTV-quantity,
li>p.user-telephony-quantity,
li>p.diagnostics-link {
    max-width: 32px;
}

/* li.solutions-item > p {
    border: 1px solid black;
} */

li.solutions-item>p:first-child {
    margin-left: 30px;
}

/* p {
    text-align: right;
} */